.admin-header-wrapper{
border-radius: 20px;
// padding: 40px 0px;
padding-top: 40px;
// margin: 30px 0;


// 
.admin-header-card{
    width: 25vw;
    border: 1px solid #BFC0C2;
    padding: 10px;
    height: 112px;
    

    .text-header-card{
    color: #5B5A5F;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.text-header-card-bold{
    color: #000;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: normal;
}
    .card-title{
        min-height: 55px;
        background: #F3F3F3;
        color: #1C1F30;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

    }
}
}

.active-wrapper{
    padding: 6px 15px;
    background-color: rgba(255, 136, 91, 0.1);
    color: #FF885B;
    font-size: 0.8rem;
}
.inactive-wrapper{
    padding: 6px 15px;
    background-color: rgba(219, 55, 31, 0.1);
    color: rgba(219, 55, 31, 1);
    font-size: 0.8rem;

}

.pending-wrapper{
    padding: 6px 15px;
    background-color: rgba(172, 49, 30, 0.1);
    color: rgb(133, 19, 1);
    font-size: 0.8rem;

}