.dashboard {
    .heading {
        .title {
            color: #2F3847;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .card {
        border: 1px solid #BFC0C2;

        .card-header {
            color: rgba(47, 56, 71, 1);
            font-weight: 600;
            font-size: 15px;
            line-height: 26px;
            background-color: rgba(243, 243, 243, 1);
            border-bottom: none;
            padding: 14px 24px;
        }


        .card-body-dashboard {
            .trusted-owner-wrapper {
                column-gap: 20px;

                .trusted-owner {
                    width: 195px;
                    height: 137px;
                    line-height: 120px;
                    text-align: center;
                    cursor: pointer;
                    position: relative;
                    
                    .hero-name {
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        position: absolute;
                        bottom: 16px;
                        left: 0;
                        right: 0;
                    }

                    &.add {
                        background: linear-gradient(244deg, #FFD75C 0%, #CFA935 100%);
                    }

                    &.remove {
                        background: linear-gradient(64deg, #D11A2A 0%, #F64050 100%);
                    }
                }
                
            }

            .balance {
                color: #000;
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                
            }

            hr.dashed {
                border-top: none;
                border-bottom: dashed 2px #757e8e;
            }

            .latest-update {
                span {
                    color: #4D5060;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            
        }

        .card-body {
            min-height: 200px;
            border-radius: 0 !important;
            .trusted-owner-wrapper {
                column-gap: 20px;

                .trusted-owner {
                    width: 195px;
                    height: 137px;
                    line-height: 120px;
                    text-align: center;
                    cursor: pointer;
                    position: relative;
                    
                    .hero-name {
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        position: absolute;
                        bottom: 16px;
                        left: 0;
                        right: 0;
                    }

                    &.add {
                        background: linear-gradient(244deg, #FFD75C 0%, #CFA935 100%);
                    }

                    &.remove {
                        background: linear-gradient(64deg, #D11A2A 0%, #F64050 100%);
                    }
                }
                
            }

            .balance {
                color: #000;
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                
            }

            hr.dashed {
                border-top: none;
                border-bottom: dashed 2px #757e8e;
            }

            .latest-update {
                span {
                    color: #4D5060;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            
        }

        // 1600
        @media (min-width: $large-min) and (max-width: $large-max) {
            
        }

        // 1440
        @media (min-width: $medium-min) and (max-width: $medium-max) {
            
        }

        // 1366
        @media (min-width: $small-min) and (max-width: $small-max) {
            
        }

        // 1280
        @media (min-width: $laptop-min) and (max-width: $laptop-max) {
            .card-header {
                font-size: 18px;
            }

            .card-body {
                .balance {
                    font-size: 40px;
                }
            }
        }
    }

    .issuer-data {
        overflow: hidden;
        color: rgba(91, 90, 95, 1);
        height: 650px;
        overflow-y: auto;
        margin-bottom: 20px;
        font-family: $font-family;

        .table {
            thead, tbody,tr,td,th {
                font-family: $font-family;
                color: rgba(91, 90, 95, 1);

            }
        }

        // 1600
        @media (min-width: $large-min) and (max-width: $large-max) {
            height: 600px;
        }

        // 1440
        @media (min-width: $medium-min) and (max-width: $medium-max) {
            height: 600px;
        }


        // 1366
        @media (min-width: $small-min) and (max-width: $small-max) {
            height: 480px;
        }

        // 1280
        @media (min-width: $laptop-min) and (max-width: $laptop-max) {
            height: 450px;
        }
    }
}

.issuer-data {
    font-family: $font-family; /* Default font for the entire table */
    color: #5B5A5F;

  }
  
  .issuer-data .no-data-found {
    text-align: center;
    margin-top: 20px;
    color: #FF885B;
    font-family: $font-family; /* Custom font for the "No Data Found" message */
    font-size: 18px;
    color: #5B5A5F;

  }
  
  .issuer-data table {
    font-family: $font-family; /* Font for the table */
    color: #5B5A5F;

  }
  
  .issuer-data th, .issuer-data td {
    font-family: $font-family; /* Ensures all table text uses this font */
    font-size: 14px; /* Adjust size as needed */
    color: #5B5A5F;
  }
  
  .issuer-data .d-flex {
    font-family: $font-family; /* Font for dynamic content within the table cells */
    color: #5B5A5F;


  }
  

.live-wrapper{
    padding: 150px 200px;
    }
    

.admin-button-container{
    background-color: white;
    width: 430px;
height: 50px;
display: flex;
// border-radius: 10px;
border: 1px solid #D5DDEA;
text-align: center;
justify-content: center;
align-items: center;
.btn{
// width: 200px;
height: 90%;
width: 100%;
font-family: $font-family;
font-size: 17px;
font-weight: 700;
padding-top:9px;
// border-radius: 0px;
margin: 0 5px;
color:  #5A677E;
;
// border: 1px solid black;
&:hover{
background: #CFA935;

color: white;
border-radius: 0px;

// border-radius: 10px;
}
}


.btn-golden{
background: #CFA935;
color: white;
border-radius: 0px;
}
.vertical-line {
border-left: 1px solid #D5DDEA;
height: 70%; 
margin: 0 2px; 
}


}

.drawer-overlay {
    display: none; // Initially hidden
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent overlay
    z-index: 1040; // Ensure it's above modal backdrop
  
    // Conditional display based on the showDrawer state
    &.show {
      display: block;
    }
  }
  .modal-content::-webkit-scrollbar {
    display: none; /* Hides the scrollbar in Webkit browsers */
  }
  .drawer-wrapper {
    /* Ensure the wrapper takes up the full height */
//    width: "100";
    .modal-content {
    //   width: 50vw !important;
      padding: 30px 40px;
      max-height: 90vh;
      overflow-y: auto;
      background: white;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  
 
  
    // Slide in when showDrawer is true
    &.drawer-open {
      transform: translateX(0);
    }

    .title {
        color: #2F3847;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .close {
        text-align: right;
        cursor: pointer;
    }

    .profile-info {
        margin-top: 30px;
        column-gap: 30px;
        align-items: center;

        .pic {
            color: #5A677E;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            width: 150px;
            height: 150px;
            line-height: 150px;
            text-align: center;
            background-color: #F3F3F3;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }

        .details {
            .name {
                color: #000;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 10px;
            }

            .designation {
                color: #5A677E;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin: 10px 0 15px;
            }

            .contact {
                column-gap: 40px;

                a {
                    text-decoration: none;
                }

                .item {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.8px;
                    column-gap: 10px;

                    &:hover {
                        color: #CFA935;
                    }
                }
            }
            
        }

        // 1600
        @media (min-width: $large-min) and (max-width: $large-max) {
           
        }

        // 1440
        @media (min-width: $medium-min) and (max-width: $medium-max) {
           
        }


        // 1366
        @media (min-width: $small-min) and (max-width: $small-max) {
            .pic {
                font-size: 32px;
                width: 100px;
                height: 100px;
                line-height: 100px;
            }
        }

        // 1280
        @media (min-width: $laptop-min) and (max-width: $laptop-max) {
            .pic {
                font-size: 32px;
                width: 100px;
                height: 100px;
                line-height: 100px;
            }
        }
    }

    .org-details {
        .title {
            color: #2F3847;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 40px 0 20px;
            background: #F3F3F3;
            padding: 14px 20px  ;
        }

        .row {
            .col-md-4 {
                &:nth-child(n+4) {
                    margin-top: 30px;
                }
            }
        }

        .label {
            color: #5A677E;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 4px;
        }

        .info {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            word-wrap: break-word; /* Or use overflow-wrap: break-word; */
        }
        

        // 1600
        @media (min-width: $large-min) and (max-width: $large-max) {
            
        }

        // 1440
        @media (min-width: $medium-min) and (max-width: $medium-max) {
            
        }


        // 1366
        @media (min-width: $small-min) and (max-width: $small-max) {
            .title {
                font-size: 16px;
                padding: 12px 20px ;
                margin: 20px 0;
            }
        }

        // 1280
        @media (min-width: $laptop-min) and (max-width: $laptop-max) {
            .title {
                font-size: 16px;
                padding: 12px 20px ;
                margin: 20px 0;
            }
        }
    }

    .action {
        text-align: center;
    }

    .search {
        column-gap: 10px;
        
        .submit {
            .golden {
                padding: 14px;

                .magnifier {
                    position: relative;
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
    .form-control{
        border-radius: 0;
    }
    
}


.cards-container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 140px;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 109px;
    flex-shrink: 0;
    padding: 15px;
    background: #FFF;
    border: 1px solid #BFC0C2;
}



.item-title {
    color: var(--Neutral-Colors-400, #9291A5);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 3px;
}

.title-value {
    font-family: $font-family;
    color: #5B5A5F;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.title-value-number {
    font-family: $font-family;
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.badge-container {
  
    /* Adjusted position from right */
    width: 44px;
    height: 100%;
    border-radius: 6px;
    background: #EFF0F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-container-admin {
   
    width: 44px;
    height: 100%;
    border-radius: 6px;
    background: #EFF0F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: #000;
    font-family: $font-family;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
}

.badge-cert {
    width: 24px;
    height: 24px;
}

.value-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.item-value {
    color: var(--Neutral-Colors-Black, #1E1B39);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: "Inter";
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    line-height: 52px;
    /* 185.714% */
}

.item-percentage {
    color: var(--System-Colors-Green-400, #04CE00);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 133.333% */

    &::after {
        content: "";
        display: inline-block;
        width: 13px;
        /* Adjust width as needed */
        height: 7px;
        /* Adjust height as needed */
        background-image: url('/icons/trend.svg');
        background-size: cover;
        margin-left: 5px;
        /* Adjust margin as needed */
    }

  
      
      .graph-container {
        width: 50%; /* This ensures the graph container takes up 50% of the width */
      }
      
      .graph-line {
        width: 10px; /* This makes the graph line fill its container */
        height: 53px;
        flex-shrink: 0;
        stroke-width: 3px;
        stroke: var(--System-Colors-Blue-400, #2D5BFF);
      }
      
}
.container {
    position: relative;
}

.date-picker-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.chart-date {
    margin-bottom: 20px;
}


.custom-date-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 5px;

    background-color: white;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 6px;
}

.custom-date-input .icon-calendar {
    margin-right: 8px;
    color: #555;
}

.custom-date-input .icon-down {
    margin-left: auto;
    color: #555;
}

.custom-date-input span {
    // flex-grow: 1;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;

}
.react-datepicker__year-wrapper{
    display: contents !important;
}

.outer-container {
    height: 300px;
    margin-top: 20px;
    // border-radius: 6px;
    border: 1px solid #D5DDEA;
    background-color: white;
    position: relative;

    .filter-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;

        label {
            margin: 0 10px 0 0;
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: 600;
            line-height: 17.07px;


            input {
                margin-right: 5px;
                accent-color: red;
                border: 1px solid red
            }
        }


    }

    /* Base styles for all radio buttons */
    .filter-options input[type="radio"] {
        appearance: none;
        /* Remove default radio button styling */
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 2px solid #ccc;
        border-radius: 50%;
        vertical-align: middle;
        cursor: pointer;
        outline: none;
    }

    /* Styles for radio button borders when checked */
    .filter-options input[type="radio"]:checked {
        border-width: 4px;
    }

    /* Specific colors for each radio button */
    .filter-options input[value="Issuer"]:checked {
        border-color: #CFA935;
    }

    .filter-options input[value="Issuance"]:checked {
        border-color: #3D915E;
    }

    .filter-options input[value="Reissued"]:checked {
        border-color: #228B22;
    }

    .filter-options input[value="Revoked"]:checked {
        border-color: #ff7858;
    }

    .filter-options input[value="Single Issued"]:checked {
        border-color: #CFA935;
    }

    .filter-options input[value="Batch Issued"]:checked {
        border-color: #ffcf40;
    }

    /* Styles for label to align with the custom radio buttons */
    .filter-options label {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
.add-modal-header{
    background-color: #F3F3F3 !important;
}
    .add-modal-title{
        font-family: $font-family;
font-size: 18px;
font-weight: 700;
line-height: 21.94px;
    }
.add-modal-label{
    font-family: $font-family;

}
}

.blockchain-wrapper{
  
    .card-title-blockchain{
        font-family: $font-family;
font-size: 22px;
font-weight: 700;
line-height: 26.82px;

    }
}
.title-blockchain{
    font-family: $font-family;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    
}